<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="me.module.login">

    <application
        android:name="me.mvp.frame.base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/login_app_name"
        android:supportsRtl="true"
        android:theme="@style/public_AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".login.LoginActivity"
            android:label="Login"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 渠道配置 -->
        <meta-data
            android:name="Channel"
            android:value="${Channel}" />

        <!-- 每个 Module 组件需要声明两个 ConfigModule, ComponentSDK 的 ConfigModule 和 Module 组件自己的 ConfigModule，
        ComponentSDK 的 ConfigModule 含有有每个组件共用的配置信息, ComponentSDK 组件自己的 ConfigModule 含有自己独有的配置
        信息, 如果 Module 组件没有独有的配置信息则只需要声明 ComponentSDK 的 ConfigModule 即可 -->
        <meta-data
            android:name="me.component.sdk.core.AppConfiguration"
            android:value="ConfigModule" />
        <meta-data
            android:name="me.module.login.app.AppConfiguration"
            android:value="ConfigModule" />

    </application>

</manifest>
