<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.module.user">

    <application>
        <activity
            android:name=".user.UserActivity"
            android:label="User"
            android:screenOrientation="portrait" />

        <!-- 渠道配置 -->
        <meta-data
            android:name="Channel"
            android:value="${Channel}" />

        <!-- 在组件集成宿主 App 时, 由于宿主已经声明了 ComponentSDK 的公有 ConfigModule, 所以在这里只需要声明业务组件自己的 ConfigModule -->
        <meta-data
            android:name="me.module.user.app.AppConfiguration"
            android:value="ConfigModule" />
    </application>
</manifest>
